<!-- Cabeçalho -->
<app-header></app-header>
<div class="card-body">
  <div class="row">
    <div class="col-md-12">
      <div class="card border-secondary">

        <div class="card-header text-dark bg-interno">
          <strong>LISTA DE FUNCIONÁRIO</strong>
        </div>


        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <table id="tblPrestadora" class="table table-hover table-striped table-sm">
                <thead>
                  <tr>
                    <th class="align-middle">Nome</th>
                    <th class="align-middle text-center">Departamento</th>
                    <th class="align-middle text-center">Opções</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let funcionario of funcionarios ">
                    <!-- <tr *ngFor="let funcionario of funcionarios | async">  | paginate: { itemsPerPage: 12, currentPage: pageCadastroFuncionario, id: 'p_funcionarios' }-->
                    <td class="align-middle">{{funcionario.nome}}</td>
                    <td class="align-middle text-center">{{funcionario.departamento}}</td>
                    <td class="align-middle text-center">
                      <button class="btn btn-info" (click)="editar(funcionario, funcionario.key)">Editar</button>

                      <button class="btn btn-danger ml-2" (click)="delete(funcionario.key)">Excluir</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- <pagination-controls class="pagination-control float-right" (pageChange)="pageCadastroFuncionario = $event" id="p_cadastrousuario0"
            maxSize="5" autoHide="true" previousLabel="" nextLabel="">
          </pagination-controls> -->

          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <button class="btn btn-success" (click)="incluir()" title='Tela de cadastro de funcionários'>
                Incluir
              </button>
            </div>
          </div>
      </div>

        </div>



    </div>
  </div>
</div>