<footer class="footer">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right">
        <img src="assets/img/Doutor_estranho.jpg" class="logo-estranho img-responsive">
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
        <div class="input-group d-flex align-items-center flex-row-reverse">
            <span>Versão: 1.0</span>
        </div>

        <!-- <span>
            Desenvolvido com
            <i class="material-icons v-middle appRed"> 
               favorite
            </i>
            por <strong>Marcelo<span class="red">S</span></strong>
        </span> -->

    </div>
</footer>


<!-- <footer class="footer">
    <span>
        Desenvolvido com
        <i class="material-icons v-middle appRed"> 
           favorite
        </i>
        por <strong>Marcelo<span class="red">S</span></strong>
    </span>
</footer> -->

