<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="main-card card border-secondary">

                <div class="card-header text-white bg-principal">
                    <i class="fa fa-window-restore"></i>
                    <strong>CADASTRO DE FUNCIONÁRIOS</strong>
                </div>


                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card border-secondary">
                                <div class="card-header text-dark bg-interno">
                                    <strong>PESQUISA</strong>
                                </div>


                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <form class="form-group" (ngSubmit)="onSubmit()" [formGroup]="formGroupEditar"> 

                                            <div class="row">

                                                <div class="form-group">
                                                    <label>Nome</label>
                                                    <input type="text" name="nome" formControlName="nome" [(ngModel)]="funcionario.nome"
                                                        class="form-control">
                                                        <!-- [ngClass]="aplicarCSSErro('nome')"> -->
                                                    <!-- <form-mensagem [mostraErro]="validarCampo('nome')" msg="Campo com preenchimento obrigatório!"></form-mensagem> -->
                                                </div>


                                                <div class="form-group">
                                                    <label>Departamento</label>
                                                    <input type="text" name="departamento" formControlName="departamento"
                                                        [(ngModel)]="funcionario.departamento" class="form-control">
                                                </div>

                                                <!-- <div class="form-group">
                                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                                </div> -->

                                            </div>


                                            <div class="row">
                                                <div class="col-md-12 text-right">
                                                    <span>
                                                        <button type="submit" id="btnPesquisa" class="btn btn-primary">
                                                            Salvar
                                                        </button>
                                                    </span>

                                                    <span>
                                                        <button type="button" id="btnLimpar"
                                                            class="btn btn-outline-principal" (click)="limpar()">
                                                            Limpar
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>


                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                   
                    <!--  Grid lista -->
                    <app-list></app-list>

                </div>
               
            </div>
        </div>
    </div>
</div>
