 <div class="card-body">

    <div class="row">
        <div class="col-md-12">
            <div class="card border-secondary">
                <div class="card-header text-dark bg-interno">
                    <strong>CADASTRO DE FUNCIONÁRIO</strong>
                </div>

                <!-- INCLUIR UM LOGOUT SAIR DA APLICAÇÃO.... JÁ TEM O METODO NO AUTH.SERVICE -->

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">

                            <form class="form-group" (ngSubmit)="onSubmit()" [formGroup]="formGroupEditar"> 

                                <div class="row">

                                    <div class="form-group col-md-4" >
                                        <label class="form-control-label " for="nome">
                                        <strong>Nome do funcionário</strong>
                                        </label>
                                        <input type="text" id="inpNome" class="form-control" title="Nome do canteiro"  
                                            maxlength="50"  formControlName="nome" [(ngModel)]="funcionario.nome"              
                                        [ngClass]="aplicaCssErro('nome')">
                                        <!-- style="text-transform:uppercase" -->
                                        <!-- <form-mensagem [mostraErro]="verificaValid('id.nomeCanteiro')" msg="Campo com preenchimento obrigatório!"></form-mensagem> -->
                                    </div>
                                    

                                    <div class="form-group col-md-6" >
                                        <label class="form-control-label " for="departamento">
                                        <strong>Departamento</strong>
                                        </label>
                                        <input type="text" id="inpDepartamento" class="form-control" title="Nome do departamento"  
                                            maxlength="50"  formControlName="departamento" [(ngModel)]="funcionario.departamento"              
                                        [ngClass]="aplicaCssErro('departamento')">
                                        <!-- style="text-transform:uppercase" -->
                                        <!-- <form-mensagem [mostraErro]="verificaValid('id.nomeCanteiro')" msg="Campo com preenchimento obrigatório!"></form-mensagem> -->
                                    </div>

                                </div>


                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <span>
                                            <button type="submit" id="btnPesquisa" class="btn btn-success">
                                                Salvar
                                            </button>
                                        </span>

                                        <span>
                                            <button type="button" id="btnLimpar"
                                                class="btn btn-danger ml-2" (click)="limpar()">
                                                Limpar
                                            </button>
                                        </span>
                                    </div>
                                </div>


                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
