<!-- Cabeçalho -->
<!-- <app-header></app-header>

<div class="animated fadeIn">
  <div class="row">
    <div id="criterioPesquisa" class="col-md-12">

      <div class="main-card card border-secondary">

        <div class="card-header text-white bg-principal">
          <i class="fa fa-window-restore"></i>
        </div>

        <div class="card-body">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 
              <router-outlet></router-outlet>

              <app-editar></app-editar>

            </div>
          </div>

          <app-list></app-list>

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer> -->
<!-- Redapé -->

<router-outlet></router-outlet>
